@charset "utf-8";
/* CSS Document */

/**公共部分**/
*{margin:0px; padding:0px;}
.aBlack a,.aBlack{ color:#333333; text-decoration:none;}
img{border:none; vertical-align:top;}
li{list-style-type:none;}
ul,dl,ol{list-style:none;}
h1,h3,h4,h5,h6{font-weight:normal; font-size:100%;}
h2{font-size:18px; color:#333333; font-weight:normal;}
body{font:14px "微软雅黑"; max-width:768px; min-width:320px; margin:auto; background:#F7F7F7;}
.bodyIn{ background:#ffffff; position:relative; }
address,cite,code,em,th{font-weight:normal; font-style:normal;}
.clear{clear:both;}
a{outline:none;}